.intro-window-container {
    background-color: brown;
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* z-index: 999; */
}

.close-intro-window-btn {
    height: 3.2rem;
    width: 3.2rem;
    font-size: 3rem;
}